#timeStamps {
    -fx-background-color: WHITESMOKE;
    -fx-background-radius: 10;
    -fx-pref-width: 170;
    -fx-pref-height: 149;
}

#timeStamps .list-cell {
     -fx-alignment: center;
     -fx-font-size: 15;
 }

#timerActionBtn {
    -fx-background-color: LIGHTGREEN;
}

#timerDroppingBtn {
    -fx-background-color: LIGHTSALMON;
}

.button {
    -fx-pref-width: 130;
    -fx-pref-height: 35;
    -fx-background-insets: 0;
    -fx-background-radius: 20;
    -fx-border-color: GRAY;
    -fx-border-width: 1.5;
    -fx-border-radius: 20;
}